[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
twine = "*"

[packages]
strava-cli = {editable = true,path = "."}

[requires]
python_version = "3.7"
